body {
	text-align: center;
}

header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 4rem;
	background-color: aqua;
	line-height: 4rem;
}

#icon{ 
	position: fixed;
	left: 20px;
	margin: auto;
	width: 100;
}

#login_join {
	position: fixed;
	right: 20px;
	margin: auto;
	width: 500;
}


#contents{
	margin-top: 5rem;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}